<section class="flexcol">
  {{> "systems/smt-tc/templates/parts/actor/alignment.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/background.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/demon.hbs"}}
  {{> "systems/smt-tc/templates/parts/actor/awards.hbs"}}
</section>