<section class="flexcol">
  {{#if system.behavior}}
  <div class="items-list">
    <ol class="stat-list">
      <li class="item flexrow">
        <div class="item-prop">{{localize "SMT.bio.behavior"}}</div>
        <input class="flex3" type="text" value="{{system.behavior}}" placeholder="N/A" data-dtype="String" disabled />
      </li>
    </ol>
  </div>
  {{/if}}
  <div class="flexrow">
    <div class="flexcol flex3">
      {{> "systems/smt-tc/templates/parts/shared/affinities.hbs"}}
      {{> "systems/smt-tc/templates/parts/actor/stats.hbs"}}
    </div>

    <div class="flexcol">
      {{> "systems/smt-tc/templates/parts/actor/buffs.hbs"}}
      {{> "systems/smt-tc/templates/parts/actor/derived-stats.hbs"}}
      {{> "systems/smt-tc/templates/parts/actor/mods.hbs"}}
    </div>
  </div>
  {{!-- Skills pane goes here --}}
</section>