<form class="flexcol">
  <div class="resource-label align-center">
    {{attackName}}
  </div>

  <div class="flexrow">
    <div class="resource-label">{{localize "SMT.dialog.potency"}}</div>
    <input
      class="flex3"
      type="number"
      name="potency"
      data-dtype="Number"
      placeholder="0"
      autofocus
    />
  </div>

  <div class="flexrow">
    <div class="resource-label">{{localize "SMT.dialog.tnMod"}}</div>
    <input
      class="flex3"
      type="number"
      name="tnMod"
      data-dtype="Number"
      placeholder="0"
    />
  </div>
</form>