<form class="flexcol">
  <div class="flexrow">
    <label for="xp-field">{{localize "SMT.awards.xp"}}</label>
    <div class="flex3">
      <input type="number" id="xp-field" name="xp" placeholder="0" data-dtype="Number" autofocus />
    </div>
    <label for="macca-field">{{localize "SMT.awards.macca"}}</label>
    <div class="flex3">
      <input type="number" id="macca-field" name="macca" placeholder="0" data-dtype="Number" autofocus />
    </div>
  </div>

  <div class="flexrow">
    <label for="divide-macca-field">{{localize "SMT.awards.divideMacca"}}</label>
    <div>
      <input type="checkbox" id="divide-macca-field" name="divideMacca" data-dtype="Boolean" {{checked divideMacca}}/>
    </div>
  </div>
</form>