<form>
  <div class="flexrow flex-group-center flex-between">

    <div>{{localize "SMT.actorSheet.buff"}}</div>

    <select class="flex2" name="buff">
      {{selectOptions buffs selected=buff localize=true}}
    </select>

    <div>
      <input type="number" name="amount" placeholder="0" data-dtype="Number" />
    </div>
  </div>
</form>