<form>
  <h2>{{localize "SMT.macro.fountain.title"}}</h2>

  {{!-- HP and MP recovery amount, cost --}}
  <p>{{localize "SMT.macro.fountain.recoveryAmount" hp=hp mp=mp}}</p>
  <p>{{localize "SMT.macro.fountain.cost" cost=cost}}</p>
  {{#if insufficientMacca}}
    <p>{{localize "SMT.macro.fountain.insufficientMacca"}}</p>
  {{/if}}
</form>