<form class="{{cssClass}} smt-sheet" autocomplete="off">
  {{> "systems/smt-tc/templates/parts/item/header.hbs"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item resource-label" data-tab="config">{{localize "SMT.tabs.config"}}</a>
    <a class="item resource-label" data-tab="effects">{{localize "SMT.tabs.effects"}}</a>
  </nav>

  <section class="sheet-body">
    {{!-- Config Tab --}}
    <div class="tab config" data-group="primary" data-tab="config">
      {{> "systems/smt-tc/templates/parts/item/armor/config.hbs"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/smt-tc/templates/parts/effects.hbs"}}
    </div>
  </section>
</form>