<section class="affinities">
  <div class="affinity-block">
    {{#each SMT.defenseAffinities as |loc affinity|}}
    <div class="affinity-item">
      <img src="systems/smt-tc/img/affinity/{{affinity}}.png" />
      <select name="system.affinities.{{affinity}}">
        {{selectOptions ../SMT.affinityLevels localize=true selected=(lookup ../system.affinities affinity)}}
      </select>
    </div>
    {{/each}}
  </div>
</section>