<section class="notes">
  <div class="items-list flexcol">
    <ol class="stat-list">
      <li class="item flexrow items-header">
        <div>{{localize "SMT.tabs.notes"}}</div>
      </li>
    </ol>

    {{editor system.notes target="system.notes" button=true editable=editable}}
  </div>
</section>