{{!-- Dodge: XX% --}}
{{!-- OR Shock: XX% --}}
<h1></h1>
{{!-- Dodge success level (success, crit, fail, etc) --}}
{{!-- OR status: "Shock inflicted", Shock avoided" --}}
{{!-- data-ailment-id, data-ailment-rate, data-is-dodge --}}

{{!-- Render roll --}}