<section class="mgt-affinities">
  <div class="items-list">
    <ol class="stat-list">
      <li class="item flexrow items-header flex-group-center">
        {{localize "SMT.actorSheet.affinities"}}
      </li>

      {{> "systems/smt-tc/templates/parts/shared/affinities.hbs"}}
    </ol>
  </div>
</section>