<section class="config">
  {{! Attack type "phys" | "mag" | "gun" | "spell" | "passive" | "talk" }}
  {{! HP/MP Cost }}
  {{! Potency }}
  {{! Affinity }}
  {{! Target }}
  {{! Auto? }}
  {{! Ailment }}
  {{! Ailment rate }}
  {{! Shatter rate (if Force) }}
  {{! Inheritance Traits }}
</section>